pre {
	outline: 1px solid #ccc;
	padding: 8px;
	margin: 12px;
	overflow: scroll;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
​