# OS
.DS_Store

# editor
*~
*.swp

# eclipse
.metadata
.project
.pydevproject
Servers/
RemoteSystemsTempFiles/

# work in progress
_wip_*

# JavaScript
node_modules
build
browserified

# TypeScript
typings

