
body{
	min-width: 2330px;
	overflow: auto;
}
.metadataContainer, .searchContainer, .resultContainer {
	float: bottom;	
	
}

.contentContainer, .searchContentContainer, .resultContentContainer{
	
	border-style: solid;
	border-width: 2px;
	border-top-style: none;
	border-color: lightgray;
	
}
/*
.searchResultContainer.google_search .metadataRendering{
	
	border-color: royalblue;
}

.searchResultContainer.bing_search_xpath .metadataRendering{
    border-color: #ffb900;
}
*/

.newSearchDismissButton{
	cursor: pointer; 
}
.metadataRendering{
	display: inline-block;
	border-radius: 0px 0px 4px 4px;
}
.comparisonDismissButton{
	float: right;
	margin-top: -12px;
}
.indresultContainer{
	margin-left: 11px;
}
.searchLabel{
	display: inline-block;
    margin-top: 12px;
    margin-left: 8px;
    font-size: 14px;
}


.labelSpan{
    margin-left: 8px;	
}
.searchResultContainer{
	display: inline-block;
	
}
.searchContainer{
	/*max-width:800px;*/
	overflow: auto;
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: gray;
    padding-bottom: 2px;
}

.collapsedSearch{
	display: inline-block;
}
.comparisonContainer{
	margin-left: 18px;
	padding-top: 8px;
	
	height: 100px%;
}
.headerRow{
	border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: gray;
    font-family: calibri;
    font-size: 18px;
    
    padding-right: 4px;
    line-height: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.history{
	display: inline-block;
	float: left;
	max-width: 450px;
	width: 450px;
}
.searchContainer {

	overflow: auto;

}
.addSearchContainer{
	display: inline-block;
    position: relative;
    top: -11px;
	width: 30px;
	height: 28px;
	margin-right: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	border-radius: 0px 4px 4px 0px;
	
}
.addSearchContainer:hover{
	cursor: pointer; 
	background-color: #EDEDED;
}
.newSearchDismissButton{
	margin-left: 2px;
}
.addSearchContainer.active{
	border-width: 2px 2px 2px 1px;
	border-color: gray;
}
.historyRendering{
	padding-top: 8px;
}
.searchCollapseSymbol{
	position: absolute;
    background: white;
    width: 16px;
    height: 3px;
    margin: 10.5px 4px 0px 4px;
    pointer-events: none;
}

.searchExpandSymbol{
    position: absolute;
    background: white;
    width: 3px;
    height: 16px;
    margin: 4px 0px 4px 10.5px;
    pointer-events: none;
}

.searchCollapseButton{
	height: 24px;
	width: 24px;
	border-radius: 20px;
	background: rgb(230, 200, 200);
	float: left;
	margin-top: 8px;
	display: inline-block;
}
.searchCollapseButton:hover{
   background: rgb(194, 152, 152);
}
.searchExpandButton{
    height: 24px;
    width: 24px;
    border-radius: 20px;
    background: rgb(134, 155, 128);
    float: left;
    margin-top: 8px;
    display: inline-block;
}
.searchExpandButton:hover{
    background: #808080;
}


.searchResultExpandButton{
    width: 18px;
    height: 18px;
    border-radius: 8px;
    float: left;
    margin: 2px 3px 1px 7px;
    background: rgb(213, 228, 209);
}
.searchResultExpandButton:hover{
    background: rgb(134, 155, 128);
    cursor: pointer;
}

.searchResultCollapseButton{
    width: 18px;
    height: 18px;
    border-radius: 8px;
    float: left;
    margin: 2px 3px 1px 7px;
    background: rgb(230, 200, 200);
}
.searchResultCollapseButton:hover{
    background: rgb(194, 152, 152);
    cursor: pointer;
}

.searchResultExpandSymbol{
    position: absolute;
    background: #ACACAC;
    width: 2px;
    height: 12px;
    margin: 3px 7px 2px 8px;
    pointer-events: none;
}

.searchResultCollapseSymbol{
    position: absolute;
    background: #ACACAC;
    width: 12px;
    height: 2px;
    margin: 8px 2px 7px 3px;
    pointer-events: none;
}

.expRendering{
	padding-top: 8px;
	overflow:none;
}
.searchContentContainer {
	min-height:800px;
	
	overflow: auto;
}
.column{
	display: inline-block;

	max-width: 800px;
	}
	.history{
			max-width: 454px;
	}
.comparison{
	border-left: solid;
    border-width: 1px;
    border-color: gray;
    margin-right: 18px;
    margin-left: 8px;
    padding-right: 0px;
    height: 100%;
    display: inline-block;
}
.comparisonRendering{
	height: 100%;
}
.dragHint{
	font-family: calibri;
	font-weight: bold;
	font-size: 24px;
	color: gray;
	text-align: center;
	float: center;
	vertical-align:middle;
	display: block;
	height: 100%;
	display: table-cell;
    width: 100%;
    	
	
}
.dragCenteringMechanism{
	display: table;
    width: 100%; /* width of parent */
    height: 70%; /* height of parent */
    overflow: hidden;

}
.entryPickedUp{
	border-width: 2px;
	border-color: lightblue;
	border-style: solid;
	border-radius: 8px;
	
}
.history{
	border-right: solid;
	border-width: 1px;
	border-color: gray;
	margin-right: 18px;
	margin-left: 8px;
	padding-right: 0px;
	height: 100%;
}
.resultContainer{
	width: 450px;
	display: block;
	position: relative;
	margin-left: 8px;
	margin-top: 8px;
	
}
.over{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	border-radius: 8px;
}
.resultContentContainer{
	height: auto;
}
.expanded{
	height: auto;
}

.resultContentContainer img{
	margin-left: auto;
    margin-right: auto;
    display: block;
}
.titleBar {
	background-color: #8d8d8d;
	height: 30px;
	
	}
.amazon{
	background-color: darkorange;
}
.amazon .light{
	background-color: #f8b670;
}
.button, .rightButton{
	background-color: #b1b1b1;
	display: inline-block;
	width: 30px;
	
	float: left;
	height: 100%;
	
	
}
.rightButton{
	float: right;
	margin-left: 15px;
	width: 30px;

}
.buttonText{
	float: center;
	color: white;
	display: inline-block;
	text-align: center;
	padding-top: 4px;
	font-family: calibri;
	font-size: 18px;
}
.expandSymbol{
    position: absolute;
    background: white;
    width: 4px;
    height: 22px;
    margin: 4px 0px 0px 13px;
    pointer-events: none;
}

.collapseSymbol{
    position: absolute;
    background: white;
    width: 22px;
    height: 4px;
    margin: 13px 0px 0px 4px;
    pointer-events: none;
}
.title { 
	color:white;

	float: left;

	margin-left: 10px;
	margin-top: 4px;
	font-family: calibri;
	font-size: 18px;
	text-align: left;
	display: inline-block;
}
.engineLink{
	


	text-align: right;
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	color: white;
	font-family: calibri;
	font-size: 18px;
	display: inline-block;

}

.comparisonRow{
	font-family: calibri;
    font-size: 18px;
    min-width: 800px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: gray;
    padding: 4px;
    font-family: calibri;
    font-size: 18px;
}
.comparisonVal{
	font-weight: bold;
}
.queryRow{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: gray;
    padding: 4px;
    font-family: calibri;
    font-size: 18px;
    font-family: calibri;
    font-size: 18px;
    min-width: 800px;
    
}
.queryVal{
	font-weight: bold;
}

.resultContainerP{
	background: #EEE;
    border-radius: 8px;
    border: 1px solid gray;
    margin: 8px;
    padding: 8px;
    min-width: 640px;
}
.main{
}
.queryLocation{
	display: inline-block;
	float: right;
	max-width:300px;
	max-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	
	text-overflow: ellipsis;
}
.historyEntry{
	border: 1px solid gray;
	border-radius: 4px 0px 0px 4px;
	margin-top: 4px;
	margin-bottom: 6px;
	padding: 4px 8px 4px 8px;
	display: inline-block;
	cursor: pointer;
	margin-left:0px;
	position: relative;
	width: 374px;
		
	
}
.newEntryForm{
	
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
    margin-top: 4px;
    margin-bottom: 6px;
    padding: 4px 8px 4px 8px;
    display: inline-block;
    margin-left:0px;
    position: relative;
    width: 374px;
    height: 32px;
}
.rootEntryContainer{
	margin-top: 4px;

	}
.buttonContainer{
	width: 20px;
	height:20px;
	display: inline-block;
	position: relative;
	top: -6px;
}
.entryExpandButton{
    width: 18px;
    height: 18px;
    border-radius: 6px;
    float: left;
    margin: 6px 0px 0px 0px;
    background: rgb(213, 228, 209);
}
.entryExpandButton:hover{
    background: rgb(134, 155, 128);
    cursor: pointer;
}

.entryCollapseButton{
    width: 18px;
    height: 18px;
    border-radius: 6px;
    float: left;
    margin: 6px 0px 0px 0px;
    background: rgb(230, 200, 200);
}
.entryCollapseButton:hover{
    background: rgb(194, 152, 152);
    cursor: pointer;
}

.entryExpandSymbol{
    position: absolute;
    background: #ACACAC;
    width: 2px;
    height: 12px;
    margin: 3px 7px 2px 8px;
    pointer-events: none;
}

.entryCollapseSymbol{
    position: absolute;
    background: #ACACAC;
    width: 12px;
    height: 2px;
    margin: 8px 2px 7px 3px;
    pointer-events: none;
}


.comparisonMargins{
	margin-left: 12px;
}
.relatedQueryContainer{
	border: 1px solid gray;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 6px;
    padding: 4px 8px 4px 8px;
    margin-right: 6px;
    cursor: pointer;
    width: 240px;
    position: relative;
    display: inline-block;
    line-height: 15px;
}
.relatedQueryContainer:hover{
	background-color: #EDEDED;
}
.entryQuery{
	max-width: 230px;
	white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}
.relatedQueryTextContainer{
	max-width: 240px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    float: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
}
.relatedQueriesContainer{
	margin-left: 24px;
	
}
.comparison{
	position: relative;
}
.historyEntry:hover
{ 
    background-color: #EDEDED;
}
.historyEntry.active{

    border-width: 2px 2px 2px 2px; 
    border-type: solid;
    border-color: gray;
   
    
}

.childEntryContainer.level1{
	
	margin-left: 20px;
}
.entryQuery.level1{
	max-width: 210px;
}
.historyEntry.level1{
	
	max-width: 354px;
}
.newEntryForm.level1{
	   max-width: 354px;
	
}
.childEntryContainer.level2{
    margin-left: 20px;
}
.entryQuery.level2{
    max-width: 190px;
}
.historyEntry.level2{
    max-width: 334px;
}
.newEntryForm.level2{
       max-width: 334px;
    
}
.childEntryContainer.level3{
    margin-left:20px;
	}
.entryQuery.level3{
    max-width: 170px;
}
.historyEntry.level3{
    max-width: 314px;
}
.newEntryForm.level3{
       max-width: 314px;
    
}
.childEntryContainer.level4{
    margin-left:0px;
    }
.historyEntry.level4{
    max-width: 294px;
}
.newEntryForm.level4{
       max-width: 294px;
    
}
.compared{
	background-color: lightgray;
}
.weightLabel{
	float: right;
	font-family: calibri;
	position: absolute;
    right: 60px;
	
}
.newEntryForm{
	display: inline-block;
}
.entryWeight{
	float: right;
	font-family: calibri;
	font-weight: bold;
	color: darkblue;
}
.historyEntry img{
	margin-right: 8px;
	margin-top: -10px;
}
.newSearchDismissButton{
	display: inline-block;
	max-width: 25px;
    position: relative;
    bottom: 8px;
    height: 28px;
    width: 28px;
    margin-right: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: CCC;
    border-radius: 4px;
    
}
.newSearchDismissButton:hover{
	background-color: #EDEDED;
	
}
.dismiss-button{
	max-width: 25px;
}
.checkbox{
	display: inline-block;
	padding-left: 4px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 6px;
}
.checkBoxGroup{
	display: inline-block;
	position: relative;
	top: 4px;
	margin-left: 8px;
	background-color: white;
	border-radius: 4px;
	max-height: 30px;
	
}

.toQueryBox{
	z-index: 10;
	position: relative;
	top: -20px;
	width: 40px;
	height: 20px;
	background-color: #333;
	border-radius: 4px;
	opacity: .7;
}
.toQueryBox:hover{
	opacity: 1;
}
.toQueryIcon{
	margin-top: 3px;

	margin-left: 12px;
	-webkit-filter: invert(100%);
}

.grip{
	margin-left: 10px;
    font-size: 7px;
    margin-top: -3px;
    cursor: pointer;
    line-height: 8px;
}
.searchResultHandle{
	width: 32px;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	border-color: gray;
	border-radius: 4px 0 0 4px;
	display: inline-block;
	color: gray;
	vertical-align: top;
	margin-top: 8px;
	padding-bottom: 2px;
	
}
.filterContainer{
	float: right;
	position: relative;
	margin-bottom: -12px;
	bottom: 4px;

}
.filter{
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	margin-right: 4px;
	bottom: 2px;
}
.filter:hover{
	cursor: pointer;
	background: #EDEDED;
}
.filterLabel{
	display: inline-block;
	position: relative;
	bottom: 2px;
	margin-right: 4px;
	margin-left: 2px;
	
}
.filterRemove{
	position: relative;
	top: 2px;
	display: inline-block;
	margin-right: 2px;
}
.metadataRendering{
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 0 0px 4px 4px;
	max-width: 705px;
	min-width:705px;
	overflow: auto;
	min-height: 20px;
	
}
.searchResultFavicon{
	max-height: 20px;
	max-width: 20px;
	width: 20px;
	height:20px;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.faviconBar{
	margin-left:0;;
	margin-right:auto;
}
.searchResultSideBar{
display: inline-block;
position: relative;
vertical-align: top;
}
.searchResultRightBar{
	display: inline-block;
vertical-align: top;
border-style: solid;
border-width: 1px 1px 1px 0px;
border-color: gray;
border-radius: 0px 4px 4px 0px;
margin-left: px;

margin-top: 8px;
}
a{
	
	color:white;
}
img{
	max-width: 400px;
	max-height: 150px;
}

iframe{
	height: 100%;
	width: 100%;
	z-index: 1;
	 top: 0;
    left: 0;
    
    position : absolute;
}
label{
	color: black;
}
.overlayDiv{
	z-index: 10;
	opacity: 1;
	height: 100%;
    width: 100%;
    color: blue;
    position: absolute;
    top: 0;
    left: 0;
    
    position : absolute;
  
}
p{
	cursor: text;
}