
/* Old layout
div.span6.content {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

    height: 600px !important;
    overflow: auto;
}
*/

div#loadingModal {
	margin-right: auto;
	margin-left: auto;
	width: 100px;
}

div#mdcJson.span9 {
	height: 300px !important;
}

div.span9.content {
	width: 870px !important;
	overflow: auto;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #E1E1E8;
}

div#mdcIce.span9 {
	/*border: 1px solid #E1E1E8;*/
	background-color: #F7F7F9;
}

div.span9.title {
	margin-top: 10px;
}

body { 
    padding-top: 40px; 
}

/* CSS for Syntax Highlighting */
.string { color: #859900; }
.number { color: #cb4b16; }
.boolean { color: #268bd2; }
.null { color: #d33682; }
.key { color: #dc322f; }
​