div.span9.content {
    /*currently toying with*/
	min-width: 630px;
    width: 630px;
	overflow: hidden;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #E1E1E8;
	
	position: absolute;
  	top: 500px; 
  	left: 280px;
	overflow-y: scroll;
	max-height: 300px;
}

body { 
    padding-top: 40px; 
    font-size: 14px;
}

.navbar-form {
    margin-left: 10px;
}

#historyWrapper {
	position: absolute;
	top: 60px;
	left: 10px;
    z-index: 10;
}

#typeArea {
	position: absolute;
	top: 500px;
	left: 950px;
}

#graphArea {
	position: absolute;
	top: 60px;
	left: 1150px;
	right: 0px;
	bottom: 0px;
}

#loadingBar {
	position: absolute;
	top: 80px;
	left: 1500px;
}

.nodes div {
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    transition: .2s;
}

.nodes div img {
    float: left;
    z-index: 1
}

.nodeText {
	display: inline-;
    padding: 2px 3px 2px 3px;
    border-radius: 3px;
}

.nodes div:hover .nodeText {
    font-size: 120%;
    z-index: 10;
}

svg {
	position: absolute;
	left: 0;
    top: 0;
    z-index: -10;
}


