* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	margin: 0px;
	padding: 0px;	
	
}

body {
	background: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: 'Segoe UI', 'Tahoma', Geneva, sans-serif;
    font-size: 16px;
    font-weight: 100; 
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

#nodeSpace {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
}

#lineSVG {
	
	position:absolute;	
}

.node {
	width: 16px;
	height: 16px;
	position: absolute;
	border-radius: 8px;
	margin: -8px;
	
	/*-webkit-transition: all 0.2s;
    /*transition: all 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;*/
}
