.authorNames:hover{
	cursor: pointer;
	color: white;
	background-color: lightgray;
		border-radius: 8px;
	
}



::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}



.authorNames{
    	text-align: center;
    	-webkit-user-select: none;
        border-radius: 8px;
	
}
.authorNames:hover{
	
}
.selectedAuthorNames{
	/*background-color: lightblue;*/
    	text-align: center;
    	-webkit-user-select: none;
    border-radius: 8px;
    color: #FFFFFF; 
	text-shadow: 0px 0px 3px #000000;
   
	
}
.selectedAuthorNamesX{
	/*background-color: lightblue;*/
    	text-align: center;
    	-webkit-user-select: none;
    border-radius: 8px;
-webkit-filter: grayscale(100%) ;
color: white;  
	
}.selectedAuthorNamesX:hover{	cursor: pointer;}

.selectedAuthorNames:hover{	cursor: pointer;}

.authorFacet{
	line-height: 20px;
	max-height: 250px;
	overflow: scroll;
	width: 180px;
	    overflow-x: hidden;
	 margin-bottom: 8px;   
	
}

.authorHeader{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: cornflowerblue;
	border-bottom-style: solid;
	border-color: black;
	border-width: 1px;
}