.compositionContainer {
	background: white;
	box-shadow: 0px 0px 15px gray;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	text-align: middle;
	overflow: hidden;
	position: relative;
}

.compositionElement {
	position: absolute;
	background: lightblue;
}

.compositionElement:hover {
	box-shadow: 0px 0px 12px 2px teal;
	z-index: 6;
}

.compositionElement img {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}

.compositionElement .annotation {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.compositionElement:hover .incontextMetadata{
	visibility: visible;	
	display: block;	
}

.incontextMetadata{
	height: auto;
	width: 0px;
	height: auto;
	width: 400px;
	color: #222;
	font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 10px;
    font-weight: 100;    
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: lightgray;
	
	border: 2px solid darkgray;
	visibility: hidden;
	position: relative;
	display: block;
	z-index: 10;
	
	-webkit-transition: all 0.0s ease-in-out;
	-moz-transition: all 0.0s ease-in-out;
	-o-transition: all 0.0s ease-in-out;
	transition: all 0.0s ease-in-out;
	box-shadow: 0px 0px 12px 2px teal;
}

.incontextMetadata table{
	color: #222;
	font-size: 14px;
	
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	
	table-layout: fixed;
	border-spacing: 0px;
	z-index: 2;
	position: relative;
}

.incontextMetadata ul{
	list-style: none;
	z-index: 1;
}

.incontextMetadata li{
	padding: 4px;
}

.incontextMetadata a{
	text-decoration: none;
}

.incontextMetadata .fieldValue .snippet {
	display: inline;
}

.incontextMetadata .fieldValue .complete {
	display: none;
}

.incontextMetadata td{
	padding-bottom: 6px;
	display: inline;
	padding: 4px;
	border: 0px;
}

.incontextMetadata .titleRow{
	border-top: none;
}

.incontextMetadata .metadata_h1{
	font-size: 20px;	
}

.incontextMetadata .domainSpan{
	color: #888;
	font-size: 10px;
	padding-left: 6px;
}


.incontextMetadata .documentSnip .metadata_h1{
	font-size: 14px;
}

.incontextMetadata .fieldLabelCol{
	vertical-align: top;
	text-align: right;
}

.incontextMetadata .fieldLabel{
	color: #888;
	font-size: 11px;
	text-align: right;
}

.incontextMetadata .fieldValue{
	color: #111;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
